# Actividad - Trabajando con Series de Pandas.
## Criterios de evaluación.

* Se deben utilizar nombres de variables descriptivos y claros (Utilizar la nomeclatura correspondiente para los nombres de variables).
* Comentarios claros y concisos que expliquen el propósito de cada sección del código.
* Utilizar mensajes de commit **descriptivos**. (Puedes utilizar la extension CONVENTIONAL COMMIT de VS-CODE). 
* Entrega en tiempo y forma.
* Todo el código desarrollado debe ser subido a un repositorio en GitHub (el nombre del repositorio de seguir la siguiente estructura: actividad_tlp3_nombre_apellido).
* Para resolver las actividades se debe insertar casillas de codigo entre cada actividad del cuaderno de Jupyter

### ¡Importante!
**El incumplimiento de los criterios de evaluación restará puntos en la nota final del práctico!**

### **Actividad 1:** 

Crear Series desde diferentes estructuras.
* Crea una Series con los números del 1 al 5
* Crea una Series a partir de un diccionario con nombres de países como claves y sus capitales como valores.

In [1]:

# todo:

import pandas as pd
import random

serie_numeros = pd.Series([1, 2, 3, 4, 5])
print(serie_numeros)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [2]:
paises = {
    'Argentina':'Buenos Aires',
    'Brasil':'Brasilia',
    'España':'Madrid',
    'Paraguay':'Asunción',
    'Francia':'Paris'
}

serie_paises = pd.Series(paises)
print(serie_paises)

Argentina    Buenos Aires
Brasil           Brasilia
España             Madrid
Paraguay         Asunción
Francia             Paris
dtype: object

### **Actividad 2:** 
Acceso y selección de elementos.
* Usa una Series con tareas (que haceres cotidianos) de una semana
* Accede a diferentes elementos a elección.
* Cambia los valores de los dias pares.

In [3]:

# todo:

tareas = pd.Series({
    'Lunes':'Limpiar la cocina',
    'Martes':'Hacer compras',
    'Miercoles':'Lavar la ropa',
    'Jueves':'Estudiar',
    'Viernes':'Sacar la basura',
    'Sabado':'Lavar el auto',
    'Domingo':'Descansar'
})

print("Tareas de la semana")
print(tareas)

Tareas de la semana
Lunes        Limpiar la cocina
Martes           Hacer compras
Miercoles        Lavar la ropa
Jueves                Estudiar
Viernes        Sacar la basura
Sabado           Lavar el auto
Domingo              Descansar
dtype: object

In [4]:
print("\nTarea del Lunes: ", tareas['Lunes'])
print("Tarea del Miercoles: ", tareas[2])

Tarea del Lunes:  Limpiar la cocina
Tarea del Miercoles:  Lavar la ropa

C:\Users\IPF-2025\AppData\Local\Temp\ipykernel_19460\3447201535.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print("Tarea del Miercoles: ", tareas[2])

In [6]:
tareas[0] = 'Regar las plantas'
tareas[2] = 'Pagar cuentas'
tareas[4] = 'Ir al gymnasio'
tareas[6] = 'Visitar a mis amigos'

print(tareas)

Lunes           Regar las plantas
Martes              Hacer compras
Miercoles           Pagar cuentas
Jueves                   Estudiar
Viernes            Ir al gymnasio
Sabado              Lavar el auto
Domingo      Visitar a mis amigos
dtype: object

C:\Users\IPF-2025\AppData\Local\Temp\ipykernel_19460\2459924849.py:1: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  tareas[0] = 'Regar las plantas'
C:\Users\IPF-2025\AppData\Local\Temp\ipykernel_19460\2459924849.py:2: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  tareas[2] = 'Pagar cuentas'
C:\Users\IPF-2025\AppData\Local\Temp\ipykernel_19460\2459924849.py:3: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  tareas[4] = 'Ir al gymnasio'
C:\Users\IPF-2025\AppData\Local\Temp\ipykernel_19460\2459924849.py:4: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  tareas[6] = 'Visitar a mis amigos'

### **Actividad 3:**
Operaciones aritméticas. 
* Realiza las operaciones basicas con 2 series cuales quieran.
* Eleva los valores de la primer serie a 3 potencias difetentes.

In [ ]:

# todo:

serie_segunda = pd.Series(random.randint(1, 100)for i in range(5))
print("Serie 1:")
print(serie_numeros)
print("\nSerie 2:")
print(serie_segunda)


# Realizamos la suma
suma = serie_numeros + serie_segunda
print("\nSuma:")
print(suma)

# Realizamos la resta
resta = serie_segunda - serie_numeros
print("\nResta:")
print(resta)

# Realizamos la multiplicacion
multiplicacion = serie_numeros * serie_segunda
print("\nMultiplicacion:")
print(multiplicacion)

# Realizamos la división
division = serie_segunda / serie_numeros
print("\nDivisión:")
print(division)

print("\nSerie 1 al cuadrado:")
print(serie_numeros ** 2)

print("\nSerie 1 al cubo:")
print(serie_numeros ** 3)

print("\nSerie 1 a la cuarta potencia")
print(serie_numeros ** 4)

Serie 1:
0    1
1    2
2    3
3    4
4    5
dtype: int64

Serie 2:
0     1
1    74
2    77
3    65
4     9
dtype: int64

Suma:
0     2
1    76
2    80
3    69
4    14
dtype: int64

Resta:
0     0
1    72
2    74
3    61
4     4
dtype: int64

Multiplicacion:
0      1
1    148
2    231
3    260
4     45
dtype: int64

División:
0     1.000000
1    37.000000
2    25.666667
3    16.250000
4     1.800000
dtype: float64

### **Actividad 4:** 
Filtrado con condiciones.
* Crea una Series de edades de 10 personas.
* Muestra solo a los mayores de 18.
* Reemplaza a los menores por "Menor de edad".

In [14]:

# todo:

edades = pd.Series([15, 22, 18, 30, 12, 25, 40, 17, 19, 16], index=['Ana', 'Bruno', 'Carlos', 'Diana', 'Eva', 'Fabián', 'Gaby', 'Hugo', 'Irene', 'Juan'])

print("Series original de edades:")
print(edades)

# Mostrar solo los mayores de 18
mayores = edades[edades > 18]
print("\nPersonas mayores de 18:")
print(mayores)

# Reemplazar a los menores de edad por "Menor de edad"
edades_filtradas = edades.copy()
edades_filtradas[edades_filtradas <= 18] = "Menor de edad"

print("\nEdades con menores reemplazados:")
print(edades_filtradas)

Series original de edades:
Ana       15
Bruno     22
Carlos    18
Diana     30
Eva       12
Fabián    25
Gaby      40
Hugo      17
Irene     19
Juan      16
dtype: int64

Personas mayores de 18:
Bruno     22
Diana     30
Fabián    25
Gaby      40
Irene     19
dtype: int64

Edades con menores reemplazados:
Ana       Menor de edad
Bruno                22
Carlos    Menor de edad
Diana                30
Eva       Menor de edad
Fabián               25
Gaby                 40
Hugo      Menor de edad
Irene                19
Juan      Menor de edad
dtype: object

C:\Users\IPF-2025\AppData\Local\Temp\ipykernel_19460\2991272903.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Menor de edad' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  edades_filtradas[edades_filtradas <= 18] = "Menor de edad"

### Actividad 5:
Estadísticas básicas.

* Crea una Series con las notas de 10 estudiantes.
* Calcula la media, mediana, desviación estándar y máximo.
* Muestra cuántos estudiantes aprobaron si el mínimo para aprobar es 6.
* Ordenar las notas de manera ascendente y descendente.

In [ ]:

# todo:

notas = pd.Series([6, 5, 7, 8, 9, 10, 9, 6, 8, 7], index = ['Mariano', 'Soledad', 'Maria', 'Jose', 'Martin', 'Lucas', 'Micaela', 'Jimena', 'Carlos', 'Tobias'])
print("Notas de los estudiantes:")
print(notas)

Mariano     6
Soledad     5
Maria       7
Jose        8
Martin      9
Lucas      10
Micaela     9
Jimena      6
Carlos      8
Tobias      7
dtype: int64

In [17]:
media = notas.mean()
mediana = notas.median()
desviacion = notas.std()
maximo = notas.max()

print("\nEstadísticas:")
print(f"Media: {media}")
print(f"Mediana: {mediana}")
print(f"Desviación estándar: {desviacion}")
print(f"Nota máxima: {maximo}")

Estadísticas:
Media: 7.5
Mediana: 7.5
Desviación estándar: 1.5811388300841898
Nota máxima: 10

In [ ]:
aprobados = (notas >= 6).sum()
print(f"\nCantidad de estudiantes aprobados es de: {aprobados}")

# Ordenar las notas
print("\nNotas ordenadas de manera ascendente:")
print(notas.sort_values())

print("\nNotas ordenadas de manera descendente:")
print(notas.sort_values(ascending=False))

Cantidad de estudiantes aprobados es de  9

Notas ordenadas de manera ascendente:
Soledad     5
Mariano     6
Jimena      6
Maria       7
Tobias      7
Jose        8
Carlos      8
Martin      9
Micaela     9
Lucas      10
dtype: int64

Notas ordenadas de manera descendente:
Lucas      10
Martin      9
Micaela     9
Jose        8
Carlos      8
Maria       7
Tobias      7
Mariano     6
Jimena      6
Soledad     5
dtype: int64